<html>
<head>
    <title>Loja</title>
</head>
<body>
    <h1>Listagem de Produtos!</h1>
    <table>
        <% lista.forEach(function(lista){ %>

                <tr>
                    <td><%= lista.id %></td>
                    <td><%= lista.nome %></td>
                    <td><%= lista.descricao %></td>
                    <td><%= lista.preco %></td>
                </tr>
    
        <% }); %>
    </table> 
</body>
</html>